@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .card__link::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
  }
}
